body{
background-color:cornsilk;
}
h1{
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.button-new-game{
    border-radius: 10px;
    margin-bottom: 15px;
    /* width: 30px;
    height: 30px; */
}

/* img{
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.board img{
    margin-left:30px;
    width: 50px;
    height: 50px;
    /* display: none; */
/* } */ 
/* .table{
    margin:auto;
    margin-left: 250px
} */
.board{
    background-color:aqua;
}

.cell{
    width :100px;
    height: 100px;
   
}

h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.cell :hover{
    background-color: antiquewhite;
}

.timer{
    background-color: aqua;
    border-radius: 10px;
    height: 20px;
}

.lives{
    border-radius: 10px;
    width: 100px;
}
.game-container{
    margin-left: 100px;
}