
h1{
    text-align: center;
}
.button-new-game{
    margin-left: 45%;
    border-radius: 10px;
    margin-bottom: 15px;
    /* width: 30px;
    height: 30px; */
}

img{
    width: 40px;
    height: 40px;
    border-radius: 10px;
}
/* .table{
    margin:auto;
    margin-left: 250px
} */
.board{
    background-color:aqua;
    /* margin-left: 250px; */
    /* width: 550px;
    height: 250px; */

}

.cell{
    width :100px;
    height: 100px;
    /* margin-left: 250px; */
    /* margin: auto; */
}